<!--Nav Bar-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <!-- <a class="navbar-brand" href="#">Ng-App</a> -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Matcehs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Messages</a>
    </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()"  >Logout</a>
          </li>
  </ul>
  <div *ngIf="loggedIn()" class="dropdown mr-sm-2">
    <a class="dropdown-toggle text-light" > Welcome {{model.username}} </a>
  
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a>
    </div>
  </div>
  <form *ngIf="!loggedIn()"  #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
    <input class="form-control-sm mr-sm-2" type="text" name="username" placeholder="Username" #username="ngModel" required [(ngModel)]="model.username" />
    <input class="form-control-sm mr-sm-2" type="password" name="password" placeholder="Password" #password="ngModel" required [(ngModel)]="model.password" />
    <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 btn-sm" type="submit">Login</button>
  </form>
</nav>

<!-- <pre>
Form Valid: {{loginForm.valid}}
Form Touched: {{loginForm.touched}}
Form Dirty: {{loginForm.dirty}}
Form Values: {{loginForm.value | json}}
Form Valid: {{username.valid}}
Form Touched: {{username.touched}}
Form Dirty: {{username.dirty}}
Form Value: {{username.value}}
Form Valid: {{password.valid}}
Form Touched: {{password.touched}}
Form Dirty: {{password.dirty}}
Form Value: {{password.value}}
</pre> -->